;; /etc/php{{ php_ver }}/fpm/php.ini
; {{ ansible_managed }}

memory_limit = 256M
post_max_size = 2G
upload_max_filesize = 2G
default_socket_timeout = 600
max_execution_time = 1800
max_input_time = 1800

#user_ini.filename = ""
cgi.fix_pathinfo = Off
short_open_tag = Off
expose_php = Off
display_errors = Off
log_errors = On
ignore_repeated_errors = On
ignore_repeated_source = On
register_long_arrays = Off
register_argc_argv = Off
magic_quotes_gpc = Off
enable_dl = Off

opcache.memory_consumption=128
opcache.interned_strings_buffer=8
opcache.revalidate_freq=10
opcache.validate_permission=1
opcache.validate_root=1
